{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"semi": ["error", "always"],
		"indent": ["error", "tab", {
			"SwitchCase": 1,
			"ObjectExpression": 1,
			"MemberExpression": 1,
			"VariableDeclarator": 1,
			"FunctionDeclaration": {
				"parameters": "first"
			},
			"ArrayExpression": "first"
		}],
		"brace-style": ["error", "1tbs", {
			"allowSingleLine": true
		}],
		"array-bracket-spacing": ["error", "never"],
		"no-unused-vars": ["error", {
			"args": "none"
		}],
		"valid-jsdoc": ["error", {
			"requireReturn": false,
			"requireReturnDescription": false,
			"matchDescription": ".+"
		}]
	}
}